<section>
    <h1>Agencies / Developers</h1>
    <a href="#/subscribers/new">Add new</a>

    <table class="ui celled padded table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Areas covered</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: list">
        <tr>
            <td data-bind="text: name"></td>
            <td data-bind="text: areas_covered"></td>
            <td><a data-bind="attr: { href: '#/subscribers/' + id }">Edit</a></td>
        </tr>
    </tbody>
    </table>

</section>