<form class="ui form">

  <h1>Developer/Agency Profile</h1>

  <div class="ui negative message" data-bind="visible: errors().length">
    <div class="header">
      There was some errors with your submission
    </div>
    <ul class="list" data-bind="foreach: errors">
      <li data-bind="text: $data"></li>
    </ul>
  </div>

  <h4 class="ui dividing header blue">Developer/Agency Information</h4>
  <div class="field">
    <label>Agency ID:</label>
  </div>  
 
  <div class="field">
    <label>Agency Name</label>
    <div class="three fields">
      <div class="field">
        <input type="text" data-bind="value: subscriber.name" placeholder="Name">
      </div>
    </div>
  </div>
  <div class="field">
    <div class="three fields">
      <div class="field">
        <label>Phone</label>
        <input type="text" data-bind="value: subscriber.phone" placeholder="Phone">
      </div>
      <div class="field">
        <label>Alt Phone</label>
        <input type="text" data-bind="value: subscriber.alt_phone" placeholder="Alt Phone">
      </div>
    </div>
  </div>
  <div class="field">
    <div class="three fields">    
      <div class="field">
        <label>Email</label>
        <input type="text" data-bind="value: subscriber.email" placeholder="Email">
      </div>
      <div class="field">
        <label>Website</label>
        <input type="text" data-bind="value: subscriber.website" placeholder="Website">
      </div>    
    </div>
  </div>
  <h4 class="ui dividing header blue">Address</h4>
  <div class="field">
    <label>Address</label>
    <div class="three fields">
      <div class="field">
        <input type="text" data-bind="value: subscriber.address1" placeholder="Unit Number">
      </div>
      <div class="field">
        <input type="text" data-bind="value: subscriber.address2" placeholder="Building name">
      </div>
      <div class="field">
        <input type="text" data-bind="value: subscriber.address3" placeholder="Street name">
      </div>
    </div>
    <div class="three fields">
      <div class="field">
        <input type="text" data-bind="value: subscriber.city" placeholder="City">
      </div>
      <div class="field">
        <input type="text" data-bind="value: subscriber.state" placeholder="State">
      </div>
      <div class="field">
        <input type="text" data-bind="value: subscriber.post_code" placeholder="Pin code">
      </div>
    </div>
  </div>

<h4 class="ui dividing header blue">Business Preferences</h4>
 <div class="field">
    <div class="three fields">
      <div class="field">
        <input type="text" data-bind="value: subscriber.property_types" placeholder="Property Type: Sale, Rental, Residential, <Commercial></Commercial>">
      </div>
    </div>
    <div class="three fields">
      <div class="field">
        <input type="text" data-bind="value: subscriber.areas_covered" placeholder="Areas Covered">
      </div>
    </div>
  </div>
  
  <div class="ui primary button" tabindex="0" data-bind="click: save">Save Profile</div>
  </br></br>

  <div data-bind="visible: mode() == 'edit', compose: { model: 'components/subscribers/subscriptions/list', activationData: subscriber.id }"></div>

</form>