﻿/*!
 * Durandal 2.1.0 Copyright (c) 2012 Blue Spire Consulting, Inc. All Rights Reserved.
 * Available via the MIT license.
 * see: http://durandaljs.com or https://github.com/BlueSpire/Durandal for details
 */

.splash {
    text-align: center;
    margin: 10% 0 0 0;
}

.splash .message {
    font-size: 5em;
    line-height: 1.5em;
    background-image: url('./../lib/durandal/img/icon.png');
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 25rem;
}

.splash .icon {
    text-align: center;
    display: inline-block;
    font-size: 5em;
    margin-top: 30px;
    color: #ccc;
}

.page-host {
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

section {
    margin: 0 20px;
}

.navbar-nav li.loader {
    margin: 12px 6px 0 6px;
    visibility: hidden;
}

.navbar-nav li.loader.active {
    visibility: visible;
}

.pictureDetail {
    max-width: 425px;
}

.validationMessage {
    color: #f00;
    line-height: 2rem;
    font-weight: bold;
}

.error-list {
    list-style-type: none;
    color: #f00;
    font-weight: bold;
}