<section>
    <h1>Lookups</h1>

    <select class="ui fluid dropdown" id="type" data-bind="options: lookupTypes,
            optionsText: 'name',
            optionsValue: 'id',
            value: selectedLookupType,
            optionsCaption: 'Choose...'"></select>

    <table class="ui celled padded table">
    <thead>
        <tr>
            <th class="single line">Name</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: lookupValues">
        <tr>
            <td data-bind="text: name"></td>
        </tr>
    </tbody>
    </table>

<div class="ui form">
    <div class="one field">
        <input type="text" data-bind="value: newLookupValue" />
    </div>
</div>
<div class="ui relaxed">
    <button class="ui submit button" data-bind="click: addLookupValue">Add</button>
</div>


</section>