<form class="ui form" data-bind="visible: !passwordResetEmailSent()">

  <h1>Forgot Password</h1>

  <ul data-bind="foreach: errors">
    <li data-bind="text: $data"></li>
  </ul>

  <h4 class="ui dividing header blue">Please enter your email to recover your password.</h4>
  <div class="field">
    <label>Email address</label>
    <div class="three fields">
      <div class="field">
        <input type="text" data-bind="value: email" placeholder="Email">
      </div>
    </div>
  </div>
  <div class="ui primary button" data-bind="click: submitForm">Recover Password</div>
  <br/>
</form>

<div data-bind="visible: passwordResetEmailSent">
    <h2>Please check your email account to reset password</h2>
    <div>
        <p>
            A confirmation email is sent to your account.
            Please click the link to reset your password before proceeding further.
        </p>
    </div>
</div>