<div data-bind="visible: !emailNotVerified()">

  <form class="ui form">

    <h1>Account Login</h1>

    <div class="ui buttons">
      <button class="ui button" data-bind="click: login.bind(null, 'google')"><i class="google plus square icon big"></i> Google</button>
      <div class="or"></div>
      <button class="ui button" data-bind="click: login.bind(null, 'facebook')"><i class="facebook square icon big"></i> Facebook</button>
      <div class="or"></div>
      <button class="ui button" data-bind="click: login.bind(null, 'twitter')"><i class="twitter square icon big"></i> Twitter</button>
    </div>

    <h4 class="ui dividing header blue">Your Credintials</h4>

    <div class="ui negative message" data-bind="visible: errors().length">
      <div class="header">
        There was some errors with your submission
      </div>
      <ul class="list" data-bind="foreach: errors">
        <li data-bind="text: $data"></li>
      </ul>
    </div>

    <div class="field">
      <label>Email (Username)</label>
      <div class="three fields">
        <div class="field">
          <input type="text" data-bind="value: model.email" placeholder="Email">
        </div>
      </div>
      <label>Password</label>
      <div class="three fields">
        <div class="field">
          <input type="password" data-bind="value: model.password" placeholder="Password">
        </div>
      </div>   
    </div>

    
    <br>
    <label><a href="#forgot-password">Forgot Password?</a></label>
    <br>
    <label><a href="#signup">Register</a></label>

    <br>
    <br>
    <button class="ui primary button" data-bind="click: signInWithEmailAndPassword">Login</button>
    <!--<button class="ui button" data-bind="click: createUserWithEmailAndPassword">Signup</button>-->
  </form>
</div>

<div data-bind="visible: emailNotVerified">
  <p>
    Please verifiy your email to proceed further.
    <button data-bind="click: resendVerificationEmail">Resend verification email</button>  
  </p>  
</div>
