<div data-bind="visible: !signedUp()">

    <form class="ui form">

    <h1>Account Registration</h1>

    <ul data-bind="foreach: errors">
        <li data-bind="text: $data"></li>
    </ul>

    <h4 class="ui dividing header blue">Your Information</h4>
    <div class="field">
        <label>Name</label>
        <div class="one field">
        <div class="field">
            <input type="text" data-bind="value: model.name" placeholder="Full name">
        </div>
        </div>
    </div>
    <div class="field">
        <div class="three fields">
        <div class="eight wide field">
            <label>Mobile</label>
            <input type="text" data-bind="value: model.mobile" placeholder="Mobile">
        </div>
        <div class="eight wide field">
            <label>Email (Username)</label>
            <input type="text" data-bind="value: model.email" placeholder="Email">
        </div>
        </div>
    </div>
        <div class="field">
        <div class="three fields">    
        <div class="eight wide field">
            <label>Password</label>
            <input type="password" data-bind="value: model.password" placeholder="Enter password, minimum 6 character">
        </div>
        <div class="eight wide field">
            <label>Re-type Password</label>
            <input type="password" data-bind="value: model.passwordConfirmation" placeholder="Enter password, minimum 6 character">
        </div>      
        </div>
    </div>

    <h4 class="ui dividing header blue">Select the options that describe you</h4>
    <div class="grouped fields">
        <div class="field">
        <div class="ui checkbox">
            <input type="checkbox" data-bind="checked: model.isAgent">
            <label>Agent</label>
        </div>
        </div>
        <div class="field">
        <div class="ui checkbox">
            <input type="checkbox" data-bind="checked: model.isDeveloper">
            <label>Developer</label>
        </div>
        </div>
        <div class="field">
        <div class="ui checkbox">
            <input type="checkbox" data-bind="checked: model.isLandlord">
            <label>Landlord</label>
        </div>
        </div>
        <div class="field">
        <div class="ui checkbox">
            <input type="checkbox" data-bind="checked: model.isBuyer">
            <label>Looking to buy</label>
        </div>
        </div>
        <div class="field">
        <div class="ui checkbox">
            <input type="checkbox" data-bind="checked: model.isTenant">
            <label>Looking to rent</label>
        </div>
        </div>
    </div>
    <div class="ui primary button" tabindex="0" data-bind="click: register">Regsiter</div>
    <br/><br/>
    </form>
</div>

<div data-bind="visible: signedUp">
    <h2>Please confirm your email account</h2>
    <div>
        <p>
            A confirmation email is sent to your account.
            Please click the link to verify your account before proceeding further.
        </p>
    </div>
</div>
