﻿<!--
<div>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <i class="fa fa-home"></i>
                <span>The Property App</span>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" data-bind="foreach: router.navigationModel">
                <li data-bind="css: { active: isActive }">
                    <a data-bind="attr: { href: hash }, text: title"></a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="loader" data-bind="css: { active: router.isNavigating }">
                    <i class="fa fa-spinner fa-spin fa-2x"></i>
                </li>
            </ul>

            <form class="navbar-form navbar-right" role="search" data-bind="submit:search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>
        </div>
    </nav>

    <div class="page-host" data-bind="router: { transition:'entrance' }"></div>
</div>
-->

<section>

    <div class="ui top fixed menu">
        <div class="item">
            <i class="sidebar icon"></i>
            The Property App
        </div>
        <!-- ko foreach: router.navigationModel -->
        <a class="item"data-bind="attr: { href: hash }, text: title"></a>
        <!-- /ko -->
        <div class="item right"><i class="sidebar icon"></i>Menu</div>
    </div>

    <div class="page-host ui container" data-bind="router: { transition:'entrance' }"></div>

    <!--<div class="ui bottom attached segment pushable">
        <div class="ui inverted labeled icon left inline vertical sidebar menu">
            <a class="item"><i class="home icon"></i>Home</a>
            <a class="item"><i class="block layout icon"></i>Topics</a>
            <a class="item"><i class="smile icon"></i>Friends</a>
            <a class="item"><i class="calendar icon"></i>History</a>
        </div>
        <div class="pusher">
            <div class="ui basic segment">
            <h3 class="ui header">Application Content</h3>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            </div>
        </div>
    </div>-->
</section>