<form class="ui form">

    <h1>Subscription details</h1>

    <ul data-bind="foreach: errors">
        <li data-bind="text: $data"></li>
    </ul>

    <h4 class="ui dividing header blue">Developer/Agency Information</h4>

    <div class="field">
        <label>Agency Name</label>
        <div class="three fields">
            <div class="field">
            <span data-bind="text: subscriberName"></span>
            </div>
        </div>
    </div>

    <div class="two fields">
        <div class="field">
            <label>Start date</label>
            <div class="ui calendar" id="rangeStart">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" placeholder="From date" data-bind="value: subscription.from_date">
                </div>
            </div>
        </div>
        <div class="field">
            <label>End date</label>
            <div class="ui calendar" id="rangeEnd">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" placeholder="To date" data-bind="value: subscription.to_date">
                </div>
            </div>
        </div>
    </div>

    <div class="field">
        <label>Internal notes</label>
        <textarea data-bind="value: subscription.internal_notes" placeholder="Notes"></textarea>
    </div>

    <div class="ui primary button" tabindex="0" data-bind="click: save">Save</div>
    </br></br>

</form>