<section>
    <h1>Subscriptions</h1>
    <a data-bind="attr: { href: '#/subscribers/' + subscriberId + '/subscriptions/new' }">Add new</a>

    <table class="ui celled padded table">
    <thead>
        <tr>
            <th>From</th>
            <th>To</th>
            <th>Is Active</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: list">
        <tr>
            <td data-bind="text: from_date"></td>
            <td data-bind="text: to_date"></td>
            <td data-bind="text: is_active"></td>
        </tr>
    </tbody>
    </table>
    
</section>