<section>
    <h1>Contacts</h1>
    <a href="#/contacts/new">Add new</a>

    <table class="ui celled padded table">
    <thead>
        <tr>
            <th class="single line">Name</th>
            <th>Is Internal</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: list">
        <tr>
            <td data-bind="text: first_name"></td>
            <td class="single line" data-bind="text: last_name"></td>
        </tr>
    </tbody>
    </table>
    
</section>