<form class="ui form">

  <h1>Add new contact</h1>

  <ul data-bind="foreach: errors">
    <li data-bind="text: $data"></li>
  </ul>

  <h4 class="ui dividing header blue">Personal Information</h4>
  <div class="field">
    <label>Name</label>
    <div class="two fields">
      <div class="field">
        <input type="text" data-bind="value: contact.firstName" placeholder="First Name">
      </div>
      <div class="field">
        <input type="text" data-bind="value: contact.lastName" placeholder="Last Name">
      </div>
    </div>
  </div>
  <div class="field">
    <div class="three fields">
      <div class="four wide field">
        <label>Phone</label>
        <input type="text" data-bind="value: contact.phone" placeholder="Phone">
      </div>
      <div class="four wide field">
        <label>Mobile</label>
        <input type="text" data-bind="value: contact.mobile" placeholder="Mobile">
      </div>
      <div class="eight wide field">
        <label>Email</label>
        <input type="text" data-bind="value: contact.email" placeholder="Email">
      </div>
    </div>
  </div>

  <h4 class="ui dividing header blue">Address</h4>
  <div class="field">
    <label>Address</label>
    <div class="three fields">
      <div class="four wide field">
        <input type="text" data-bind="value: contact.address1" placeholder="Unit Number">
      </div>
      <div class="six wide field">
        <input type="text" data-bind="value: contact.address2" placeholder="Building name">
      </div>
      <div class="six wide field">
        <input type="text" data-bind="value: contact.address3" placeholder="Street name">
      </div>
    </div>
    <div class="three fields">
      <div class="six wide field">
        <input type="text" data-bind="value: contact.city" placeholder="City">
      </div>
      <div class="six wide field">
        <input type="text" data-bind="value: contact.region" placeholder="State">
      </div>
      <div class="four wide field">
        <input type="text" data-bind="value: contact.postCode" placeholder="Pin code">
      </div>
    </div>
  </div>

  <div class="ui segment">
    <div class="field">
      <div class="ui toggle checkbox">
        <input type="checkbox" name="gift" tabindex="0" class="hidden" data-bind="checked: contact.isInternalUser">
        <label>Is internal user</label>
      </div>
    </div>
  </div>
  <div class="ui primary button" tabindex="0" data-bind="click: save">Create Contact</div>
</form>