<div class="ui modal active">

    <div class="header">
        Select contacts
    </div>

    <div class="content">
        <div class="ui relaxed horizontal list" data-bind="foreach: list">
            <label class="item">
                <input type="checkbox" data-bind="checked: selected" />
                <span data-bind="text: name"></span>
            </label>
        </div>
    </div>

    <div class="actions">
        <button class="ui positive right labeled icon button" data-bind="click: addSelectedContacts">
            Add selected
            <i class="checkmark icon"></i>
        </button>
    </div>

</div>