<form class="ui form">

  <h1>Forgot Password</h1>

  <ul data-bind="foreach: errors">
    <li data-bind="text: $data"></li>
  </ul>

  <h4 class="ui dividing header blue">Your Credintials</h4>
  <div class="field">
    <label>Email (Username)</label>
    <div class="three fields">
      <div class="field">
        <input type="text" data-bind="value: contact.email" placeholder="Email">
      </div>
    </div>
  </div>
  <div class="ui primary button" tabindex="0" data-bind="click: save">Send Request</div>
  <br/>
</form>