<form class="ui form">

  <h1>Account Login</h1>

  <ul data-bind="foreach: errors">
    <li data-bind="text: $data"></li>
  </ul>

  <h4 class="ui dividing header blue">Your Credintials</h4>
  <div class="field">
    <label>Email (Username)</label>
    <div class="three fields">
      <div class="field">
        <input type="text" data-bind="value: contact.email" placeholder="Username">
      </div>
    </div>
    <label>Password</label>
    <div class="three fields">
      <div class="field">
        <input type="text" data-bind="value: contact.password" placeholder="Password">
      </div>
    </div>   
  </div>

  <div class="ui primary button" tabindex="0" data-bind="click: save">Login</div>
  <br/><br/>
  <label><a href="#forgotPW">Forgot Password?</a></label>
</form>