<form class="ui form">

  <h1>My Profile</h1>

  <ul data-bind="foreach: errors">
    <li data-bind="text: $data"></li>
  </ul>

  <h4 class="ui dividing header blue">Personal Information</h4>
  <div class="field">
    <label>My Profile ID:</label>
  </div>  
  <div class="field">
    <label>Profile Image</label>
    <div class="three fields">
      <div class="field">
        <input type="text" data-bind="value: contact.image" placeholder="Upload Image">
      </div>
      <div class="ui primary button" tabindex="0" data-bind="click: save">Upload Image</div>
    </div>
  </div> 
  <div class="field">
    <label>Name</label>
    <div class="three fields">
      <div class="field">
        <input type="text" data-bind="value: contact.title" placeholder="Title">
      </div>
      <div class="field">
        <input type="text" data-bind="value: contact.firstName" placeholder="First Name">
      </div>
      <div class="field">
        <input type="text" data-bind="value: contact.lastName" placeholder="Last Name">
      </div>
    </div>
  </div>
  <div class="field">
    <div class="three fields">
      <div class="field">
        <label>Phone</label>
        <input type="text" data-bind="value: contact.phone" placeholder="Phone">
      </div>
      <div class="field">
        <label>Mobile</label>
        <input type="text" data-bind="value: contact.mobile" placeholder="Mobile">
      </div>
      <div class="field">
        <label>Email (Username)</label>
        <input type="text" data-bind="value: contact.email" placeholder="Email (Username)">
      </div>
    </div>
  </div>
  <div class="field">
    <div class="three fields">    
      <div class="field">
        <label>Password</label>
        <input type="text" data-bind="value: contact.password" placeholder="Enter password, minimum 6 character">
      </div>
      <div class="field">
        <label>Re-type Password</label>
        <input type="text" data-bind="value: contact.password" placeholder="Enter password, minimum 6 character">
      </div>      
    </div>
  </div>
  <h4 class="ui dividing header blue">Address</h4>
  <div class="field">
    <label>Address</label>
    <div class="three fields">
      <div class="field">
        <input type="text" data-bind="value: contact.address1" placeholder="Unit Number">
      </div>
      <div class="field">
        <input type="text" data-bind="value: contact.address2" placeholder="Building name">
      </div>
      <div class="field">
        <input type="text" data-bind="value: contact.address3" placeholder="Street name">
      </div>
    </div>
    <div class="three fields">
      <div class="field">
        <input type="text" data-bind="value: contact.city" placeholder="City">
      </div>
      <div class="field">
        <input type="text" data-bind="value: contact.region" placeholder="State">
      </div>
      <div class="field">
        <input type="text" data-bind="value: contact.postCode" placeholder="Pin code">
      </div>
    </div>
  </div>

  <div class="ui primary button" tabindex="0" data-bind="click: save">Save Profile</div>
  </br></br>
</form>