<form class="ui form">

  <h1>Account Registration</h1>

  <ul data-bind="foreach: errors">
    <li data-bind="text: $data"></li>
  </ul>

  <h4 class="ui dividing header blue">Your Information</h4>
  <div class="field">
    <label>Name</label>
    <div class="three fields">
      <div class="field">
        <input type="text" data-bind="value: contact.title" placeholder="Title">
      </div>
      <div class="field">
        <input type="text" data-bind="value: contact.firstName" placeholder="First Name">
      </div>
      <div class="field">
        <input type="text" data-bind="value: contact.lastName" placeholder="Last Name">
      </div>
    </div>
  </div>
  <div class="field">
    <div class="three fields">
      <div class="four wide field">
        <label>Mobile</label>
        <input type="text" data-bind="value: contact.mobile" placeholder="Mobile">
      </div>
      <div class="four wide field">
        <label>Phone</label>
        <input type="text" data-bind="value: contact.phone" placeholder="Phone">
      </div>
      <div class="eight wide field">
        <label>Email (Username)</label>
        <input type="text" data-bind="value: contact.email" placeholder="Email">
      </div>
     </div>
  </div>
    <div class="field">
    <div class="three fields">    
      <div class="three wide field">
        <label>Password</label>
        <input type="text" data-bind="value: contact.password" placeholder="Enter password, minimum 6 character">
      </div>
      <div class="eight wide field">
        <label>Re-type Password</label>
        <input type="text" data-bind="value: contact.password" placeholder="Enter password, minimum 6 character">
      </div>      
    </div>
  </div>

  <div class="field">
    <label>Do you have Developer/Agency account?</label>
  <div class="field">
        <select class="ui dropdown" id="type"
            data-bind="options: activityTypes,
                optionsText: 'caption',
                optionsValue: 'id',
                selectedOptions: record.type">
        </select>
    </div>

  <h4 class="ui dividing header blue">Developer/Agency Information</h4>
    <div class="four fields">
      <div class="six wide field">
        <label>Developer/Agency Name</label>
        <input type="text" data-bind="value: agency.name" placeholder="Developer/Agency Name">
      </div>
      <div class="six wide field">
        <label>Phone</label>
        <input type="text" data-bind="value: agency.phone" placeholder="Phone">
      </div>
      <div class="four wide field">
        <label>Email</label>
        <input type="text" data-bind="value: agency.email" placeholder="Email">
      </div>
      <div class="four wide field">
        <label>Website</label>
        <input type="text" data-bind="value: agency.website" placeholder="Website">
      </div>
    </div>
  </div>
  <div class="ui primary button" tabindex="0" data-bind="click: save">Regsiter</div>
  <br/><br/>
</form>