<form class="ui form">

  <h1>Developer/Agency Profile</h1>

  <ul data-bind="foreach: errors">
    <li data-bind="text: $data"></li>
  </ul>

  <h4 class="ui dividing header blue">Developer/Agency Information</h4>
  <div class="field">
    <label>Agency ID:</label>
  </div>  
 
  <div class="field">
    <label>Agency Name</label>
    <div class="three fields">
      <div class="field">
        <input type="text" data-bind="value: model.name" placeholder="Name">
      </div>
    </div>
  </div>
  <div class="field">
    <div class="three fields">
      <div class="field">
        <label>Phone</label>
        <input type="text" data-bind="value: model.phone" placeholder="Phone">
      </div>
      <div class="field">
        <label>Alt Phone</label>
        <input type="text" data-bind="value: model.alt_phone" placeholder="Alt Phone">
      </div>
    </div>
  </div>
  <div class="field">
    <div class="three fields">    
      <div class="field">
        <label>Email</label>
        <input type="text" data-bind="value: model.email" placeholder="Email">
      </div>
      <div class="field">
        <label>Website</label>
        <input type="text" data-bind="value: model.website" placeholder="Website">
      </div>    
    </div>
  </div>
  <h4 class="ui dividing header blue">Address</h4>
  <div class="field">
    <label>Address</label>
    <div class="three fields">
      <div class="field">
        <input type="text" data-bind="value: model.address1" placeholder="Unit Number">
      </div>
      <div class="field">
        <input type="text" data-bind="value: model.address2" placeholder="Building name">
      </div>
      <div class="field">
        <input type="text" data-bind="value: model.address3" placeholder="Street name">
      </div>
    </div>
    <div class="three fields">
      <div class="field">
        <input type="text" data-bind="value: model.city" placeholder="City">
      </div>
      <div class="field">
        <input type="text" data-bind="value: model.state" placeholder="State">
      </div>
      <div class="field">
        <input type="text" data-bind="value: model.post_code" placeholder="Pin code">
      </div>
    </div>
  </div>

<h4 class="ui dividing header blue">Business Preferences</h4>
 <div class="field">
    <div class="three fields">
      <div class="field">
        <input type="text" data-bind="value: model.property_types" placeholder="Property Type: Sale, Rental, Residential, <Commercial></Commercial>">
      </div>
    </div>
    <div class="three fields">
      <div class="field">
        <input type="text" data-bind="value: model.areas_covered" placeholder="Areas Covered">
      </div>
    </div>
  </div>
  
  <div class="ui primary button" tabindex="0" data-bind="click: save">Save Profile</div>
  </br></br>

  <div data-bind="compose: { model: 'components/models/subscriptions/list', activationData: model.id }"></div>

</form>