<section>
    <h1>Activities</h1>
    <a href="#/activities/new">Add new</a>

    <table class="ui celled padded table">
    <thead>
        <tr>
            <th class="single line">Title</th>
            <th>Start date</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: list">
        <tr>
            <td data-bind="text: title"></td>
            <td class="single line" data-bind="text: start_date"></td>
        </tr>
    </tbody>
    </table>
    
</section>