<form class="ui form">

    <h1>Add new activity</h1>

    <ul data-bind="foreach: errors">
        <li data-bind="text: $data"></li>
    </ul>

    <div class="field">
        <label>Title</label>
        <input type="text" data-bind="value: record.title" placeholder="Title">
    </div>

    <div class="field">
        <label>Details</label>
        <textarea data-bind="value: record.description" placeholder="Details"></textarea>
    </div>

    <div class="field">
        <label>Type</label>
        <select class="ui dropdown" id="type"
            data-bind="options: activityTypes,
                optionsText: 'caption',
                optionsValue: 'id',
                value: record.type">
        </select>
    </div>

    <div class="two fields">
        <div class="field">
            <label>Start date</label>
            <div class="ui calendar" id="rangeStart">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" placeholder="Start" data-bind="value: record.startDate">
                </div>
            </div>
        </div>
        <div class="field">
            <label>End date</label>
            <div class="ui calendar" id="rangeEnd">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" placeholder="End" data-bind="value: record.endDate">
                </div>
            </div>
        </div>
    </div>

    <div class="field">
        <label>Scheduled for users</label>
        <select multiple="" class="ui dropdown" id="users"
            data-bind="
                options: usersLookup,
                optionsText: 'name',
                optionsValue: 'id',
                selectedOptions: record.scheduledFor">
        </select>
    </div>

    <div class="field">
        <label>Scheduled with</label>
        <a class="ui button compact" href="" data-bind="click: selectContactsToScheduledWith">Select contacts to schedule with...</a>
        <div class="ui list" data-bind="foreach: record.scheduledWith">
            <span class="item" data-bind="text: name"></span>
        </div>
    </div>

    <button class="ui primary button" data-bind="click: save">Save</button>

</form>