<section>
    <h1 class="left floated">Properties</h1>

    <button class="right floated">Add new</button>

    <table class="ui celled padded table">
    <thead>
        <tr>
            <th class="single line">Property</th>
            <th>Bedrooms</th>
            <th>Bathrooms</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Property name
            </td>
            <td class="single line">
                Power Output
            </td>
            <td>
                <div class="ui star rating" data-rating="3" data-max-rating="3"></div>
            </td>
        </tr>
        <tr>
            <td>
                Another property name
            </td>
            <td class="single line">
                Weight
            </td>
            <td>
                <div class="ui star rating" data-rating="3" data-max-rating="3"></div>
            </td>
        </tr>
    </tbody>
    </table>

</section>