<section>
    Date
    <div class="ui calendar" id="dt">
        <div class="ui input left icon">
            <i class="calendar icon"></i>
            <input type="text" placeholder="Date/Time" data-bind="value: dt">
        </div>
    </div>

    <button class="ui button" data-bind="click: save">Save</button>
</section>